[include]
    # Global git settings
    path = ~/tools/dotfiles/.gitconfig_global
    # Personal name and email for personal repos
    path = ~/tools/.gitconfig_personal

[includeIf "gitdir:~/repos/"]
    # Work name and email for work repos
    path = ~/repos/dotfiles/.gitconfig_work
[init]
    defaultBranch = main
