<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>hideMenubarIcon</key>
	<true/>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>41</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>moveDown</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>moveLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>moveRight</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>moveUp</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>topHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>40</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>windowSnapping</key>
	<integer>2</integer>
</dict>
</plist>
